$dark-color: #171717;
$beige-color: #c2ab80;
$white-color: #fff;

$bg-color: #131313;
$bg-button-dark: $dark-color;
$bg-button-light: $beige-color;
$text-color-dark: $dark-color;
$text-color-light: #666666;
$text-color-white: $white-color;

$skew-negative: -17deg;
$skew-positive: 17deg;