.hero__content {
  display: flex;
  align-items: end;
  width: 100%;
  min-height: 520px;
  padding-top: 96px;
  padding-bottom: 96px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, #131313 100%);

  @media screen and (max-width: 768px) {
    padding-top: 76px;
    padding-bottom: 76px;
  }

  @media screen and (max-width: 767px) {
    min-height: 281px;
    padding-top: 52px;
    padding-bottom: 52px;
  }
}