.hero__heading {
  
  @media screen and (max-width: 768px) {
    font-size: 38px;
    line-height: 46.32px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 24.38px;
  }
}