@use '../variables' as v;
@use '../mixins' as m;

.button-primary {
  width: 264.16px;
  height: 60px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  border-right: 6px solid white;
  outline: none;
  cursor: pointer;
  background-color: v.$bg-button-light;
  @include m.font-montserrat(700);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: v.$text-color-white;
  transform:  skew(v.$skew-negative, 0deg);
  @include m.transition(background-color);

  span {
    display: inline-block;
    transform:  skew(v.$skew-positive, 0deg);
  }

  &:hover {
    background-color: lighten(v.$bg-button-light, 10);
  }
}





