.header__buttons {
  margin-left: auto;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1365px) {
    gap: 8px;
  }

  @media screen and (max-width: 1270px) {
    margin-left: 0;
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 21px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  @media screen and (max-height: 540px) {
    position: static;
    margin: 21px 0;
  }
}