@use '../../variables.scss' as v;
@use '../../mixins.scss' as m;

.header__nav {
  margin-left: 76px;

  @media screen and (max-width: 1580px) {
    margin-left: 30px;
  }

  @media screen and (max-width: 1270px) {
    transform: translateX(-100%);
    display: block;
    position: fixed;
    left: 0;
    top: 110px;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding-top: 59px;
    margin: 0;
    background-color: v.$bg-color;
    overflow-y: auto;
    @include m.transition(transform);
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
    top: 71px;
  }

  .nav__link {

    @media screen and (max-width: 1270px) {
      display: block;
      padding: 0 50px;
      margin-bottom: 15px;
      text-shadow: 1px 1px 0 #808080, -1px -1px 0 #808080; 
      font-size: 36px;
      line-height: 150%;
      color: v.$bg-color;

      &:hover {
        text-shadow: none;
      }
    }
    
    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 30px;
      padding: 0 15px;
      text-shadow: none;
      -webkit-text-stroke: 1px #808080;
    }
  }
}