.cards__heading {
  margin-bottom: 53px;

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24.38px;
  }
}