.cards__items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 60px;

  @media screen and (max-width: 1440px) {
    gap: 20px;
  }

  @media screen and (max-width: 1366px) {
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    gap: 24px 20px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 38px;
  }
}