@use '../../variables' as v;

.button-primary__decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 71.5px;
  height: 100%;
  border-right: 6px solid v.$bg-color;
}
