@use '../../variables' as v;
@use '../../mixins' as m;

.nav__link {
  @include m.font-montserrat(700);
  font-size: 14px;
  line-height: 21px;
  color: v.$text-color-white;
  text-transform: uppercase;
  text-decoration: none;
  @include m.transition(color);

  &:hover {
    color: v.$beige-color;
  }
}