@use '../variables.scss' as v;
@use '../mixins.scss' as m;

.button-icon {
  width: 74.16px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  opacity: .4;
  transform:  skew(v.$skew-negative, 0deg);
  @include m.transition(opacity);

  svg {
    transform:  skew(v.$skew-positive, 0deg);
  }

  &:hover {
    opacity: .8;
  }
}