.button-icon {
  width: 74.16px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  opacity: .4;
  transform:  skew(-17deg, 0deg);
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .8;
  }
}